/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */

.header-title {
  background-color: #F8F9FA;
  padding: 1rem;
  font-size: 4rem;
}

/* Main */

.main {
  width: 80%;
  margin: 0 auto;
}

/* Button */

.btn-container {
  display: flex;
  margin: 3rem 0;
  gap: 2rem;

}

.btn {
  padding: 1rem;
  color: white;
  background-color: #0D6EFD;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  cursor: pointer;
}

/* Text */

.text-container {
  border: 2px solid black;
  border-radius: 5px;
  padding: 3rem;
}

.text-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.text {
  font-size: 2.5rem;
}